PUBLIC_SANITY_PROJECT_ID=q7pbjl6y
PUBLIC_SANITY_DATASET=production
SANITY_STUDIO_PROJECT_ID=q7pbjl6y
SANITY_STUDIO_DATASET=production
# Only needed for drafts / private datasets:
# SANITY_API_READ_TOKEN=
